replicas: 1
image:
  repository: 014842949473.dkr.ecr.ap-northeast-2.amazonaws.com/demo
  tag: 2.0.1
  imagePullSecrets:
    - name: ecr-cred
service:
  type: NodePort
  protocol: TCP
  targetPort: 80
  port: 80
  nodePort: 31080
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/tags: Environment=dev,Name=demo-alb
